HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!/src/main/
!/src/test/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
'.idea'
'*.mvn'
api-service-1/.mvn
api-service-1/mvnw
api-service-1/mvnw.cmd
api-service-1/target
api-service-1/web
api-service-1/api-service-1.iml
api-service-2/.mvn
api-service-2/mvnw
api-service-2/mvnw.cmd
api-service-2/target
api-service-2/web
api-service-2/api-service-2.iml
