HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!/src/main/
!/src/test/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
'.idea'
'*.mvn'
service-1/.mvn
service-1/mvnw
service-1/mvnw.cmd
service-1/target
service-1/web
service-1/service-1.iml
service-2/.mvn
service-2/mvnw
service-2/mvnw.cmd
service-2/target
service-2/web
service-2/service-2.iml
